# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# =================
# Dependencies
# =================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =================
# Testing
# =================
coverage/

# =================
# Next.js
# =================
.next/
.next/cache/
out/

# =================
# Production Builds
# =================
build/

# =================
# Misc Files
# =================
.DS_Store
*.pem

# =================
# Debug Logs
# =================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =================
# Environment Variables
# =================
.env
.env.* 

# =================
# Vercel
# =================
.vercel

# =================
# TypeScript
# =================
*.tsbuildinfo
next-env.d.ts

# =================
# Editor & IDE settings
# =================
.vscode/
.idea/

# =================
# Caches
# =================
.turbo/
.parcel-cache/
